[submodule "catppuccin"]
	path = catppuccin
	url = https://github.com/catppuccin/catppuccin
[submodule "alacritty/catppuccin"]
	path = alacritty/catppuccin
	url = https://github.com/catppuccin/catppuccin
[submodule "alacritty/cattpucin"]
	path = alacritty/cattpucin
	url = https://github.com/catppuccin/alacritty.git
[submodule "waybar/waybar"]
	path = waybar/waybar
	url = https://github.com/catppuccin/waybar.git
